@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Movie
@{
    ViewData["Title"] = "Movie List";   
}
<table>
    <thead>
        <td>Title </td>
        <td>Director</td>
        <td>Release Year</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Release Year</td>
        <td>Notes</td>

        <tbody>
            <td>@Model.Title</td>
            <td>@Model.Director</td>
            <td>@Model.ReleaseYear</td>
            <td>@Model.Rating</td>
            <td>@Model.Edited</td>
            <td>@Model.ReleaseYear</td>
            <td>@Model.Notes</td>

        </tbody>

    </thead>
</table>
